<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <textarea name="message"></textarea>
        <button type="submit">Send</button>
    </form>
    <div id="chat-messages">
        {% if maps %}
            {% for map in maps %}
                <img src={{ map }} alt="Description of image">
            {% endfor %}
        {% endif %}
        <br>
        {% if floods %}
            {% for flood in floods %}
                <img src={{ flood }} alt="Description of image">
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>